.div {
    flex-direction: column;
}
    

h1{
    display: flex;
  background-image: radial-gradient(circle at 74.18% 116.45%, #775c53 0, #765851 6.25%, #75524f 12.5%, #744c4c 18.75%, #71454a 25%, #6d3c48 31.25%, #683346 37.5%, #612945 43.75%, #591f44 50%, #4f1544 56.25%, #430d45 62.5%, #360947 68.75%, #25094a 75%, #090b4c 81.25%, #000c4f 87.5%, #000c51 93.75%, #000c52 100%);
font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    text-emphasis-position: initial;
    
    margin:auto;
    padding: auto;
    width: 100%;
    height: 200px;
    size: 300px;
    
}
.navbar{
    position: sticky;
    top: 0;
}
img{
    display: flex;
    width: 80%;
  height: 300px;
  justify-content: center;
  align-items: center;
}


